@font-face {
    font-family: poppinsExtraBold;
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}
 @font-face {
    font-family: poppinsBold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
 }
 @font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
 }

:root{
    --varWhiteColor: #fff;
    --varBlackColor: #000;
    --varPrimaryColor: #0d6efd;
    --varExtraBoldFont: 'poppinsExtraBold';
    --varBoldFont: 'poppinsBold';
    --varFont: 'poppins';

}

h1 { font-size: 64px;line-height: 1;font-weight: 600;margin-bottom: 20px;font-family: var(--varBoldFont); }
h3 { font-size: 44px;line-height: 1;font-weight: 600;margin-bottom: 20px;font-family: var(--varBoldFont); }
h4 { font-size: 24px;line-height: 1;font-weight: 600;margin-bottom: 20px;font-family: var(--varBoldFont); }
h5 { font-size: 20px;line-height: 1.7;;font-family: var(--varFont);font-weight: 600 }

p { color: #848aa6;font-size: 16px;font-family: var(--varFont); }
h1 > span { color: #f4284a; }
.text-primary { color: var(--varPrimaryColor); }
.primary-btn { font-size: 16px;; }
.yellow-btn { color: var(--varBlackColor);background-color: #f1c40f;display: inline-block;border: 1px solid #f1c40f; padding: 10px 30px; }
.space {margin: 80px 0px 80px;}
.appland .bottom-line {width: 100%;margin: 35px auto 0px;max-width: 120px;background: linear-gradient(to right, #e24997, #2d2ed4);height: 6px;border-radius: 10px;}
.appland .title-wrapper { margin-bottom: 80px; }
.border-top { border-top: 1px solid #dee2e6 !important; }

/* header */
.header-wrapper {box-shadow: 0 1rem 3rem rgba(47, 91, 234, 0.175);padding: 10px 25px;z-index: 9999;background-color: var(--varWhiteColor);position: fixed;top: 0;width: 100%;}
.header-wrapper .navbar-collapse { justify-content: flex-end; }
.header-wrapper .navbar-nav .nav-link { padding: 10px 20px;color: #151e2e; }

/* home banner */
.home-banner-wrapper { padding: 200px 10px 100px;position: relative; }
.home-banner-wrapper:before {content: '';position: absolute;top: 0%;left: 0%;width: 400px;height: 400px;background-color: #f1c40f;border-radius: 50%;transform: translate(-50%, -50%);z-index: -999; }
.home-banner-wrapper .banner-image {width: 100%;max-width: 400px;border-radius: 20px;margin-left: 50px;}
.home-banner-wrapper .image-wrapper { text-align: center; }
.home-banner-wrapper h5 { margin-bottom: 30px; }

/* feature */
.feature { margin-bottom: 100px; }
.feature .feature-box {border: 1px solid #ebebeb;padding: 40px 40px;border-radius: 20px;margin: 20px 10px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;}
.feature .feature-img { padding: 15px 15px; border-radius: 10px; max-width: 90px; margin-bottom: 20px; max-height: 50px; background: #ebebeb; }

/* design */
.design-wrapper .img-wrapper .design-img { box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; border-radius: 10px;margin-bottom: 20px; }
.design-wrapper .img-wrapper {margin: 10px 10px 40px;}
.design-wrapper a { text-decoration: none;color: var(--varBlackColor); }
.design-wrapper a:hover img { transform: translateY(-10px);transition: .5s ease; }

/* extra features */
.extra-feature { background-color: #070a57;padding: 60px 0px;color: var(--varWhiteColor); }
.extra-feature .feature-box { color: var(--varWhiteColor);border: 1px solid #ffffff1a;padding: 40px 40px;border-radius: 20px;margin: 10px 10px; }

@media (max-width:1199px){
    h1 { font-size: 45px; }
    h3 { font-size: 35px; }
    h4 { font-size: 20px;}
    h5 { font-size: 16px; }
    .appland .title-wrapper { margin-bottom: 50px; } 

    .home-banner-wrapper { padding: 180px 10px 60px; }
    .home-banner-wrapper .banner-image { max-width: 360px; }

    .feature .feature-img { max-width: 60px; max-height: 60px; }
    .feature .feature-box { padding: 30px 30px; }
}

@media (max-width:991px){
    .container { max-width: 800px; }
    .appland .bottom-line { margin: 15px auto 0px; }
    .primary-btn { font-size: 14px; }
    .yellow-btn { padding: 10px 20px; }

    h1 { font-size: 35px; }
    h3 { font-size: 28px; }
    h5 { font-size: 14px; }

    .home-banner-wrapper { padding: 150px 10px 70px; }
    .home-banner-wrapper .banner-image { max-width: 300px; margin-left: 40px; }

    .feature .feature-img { max-height: 50px; }
}

@media (max-width:767px){
    .container { max-width: 390px; }

    h1 { font-size: 30px; }

    .appland .title-wrapper { margin-bottom: 30px; }

    .header-wrapper { padding: 10px 5px; }

    .home-wrapper { flex-direction: column-reverse;text-align: center; }
    .home-banner-wrapper { padding: 150px 10px 50px; }
    .home-banner-wrapper h5 { margin-bottom: 20px; }
    .home-banner-wrapper .banner-image { max-width: 100%; margin-left: 0px;margin-bottom: 20px; }

    .design-wrapper .img-wrapper { margin: 10px 10px 20px; }
    .design-wrapper .img-wrapper .design-img { margin-bottom: 10px; }

    .extra-feature .feature-box { padding: 30px 30px;margin: 10px 0px; }
    .extra-feature .space { margin: 0px 0px 0px; }
}
